<section class="listing" [class.sold]="product.state === 'Sold'">
  <img class="listing-photo" [src]="product.photo" alt="Exterior photo of {{product.name}}">
  <h2 class="listing-heading">{{ product.name }}</h2>
  <p class="listing-location">{{product.username}} - {{ product.price}} EG - {{product.state}}</p>
  <a [routerLink]="['/details', product.id]">Learn More</a>
  <a [routerLink]="['/home' , product.id]" (click)="add_to_wishlist()">Add to WishList</a>
  <a  [routerLink]="['/messages', product.username , product.id]">Chat</a>
  <button *ngIf="product.state !== 'Sold' && product.username !== username_not_buy" (click)="buyProduct()" [routerLink]="['/feedback', product.username]">Buy</button>
</section>
