<h1 style="color: purple; text-align: center;"> Welcome {{ username_h1 }}</h1>

<div class="container">
  <div class="section">
    <h2 style="color: purple;">Your purchases : </h2>
    <section class="results">
      <div *ngIf="filteredProductList && filteredProductList.length > 0; else noProducts" class="purchase-section">
        <app-products-location *ngFor="let product of filteredProductList" [product]="product"></app-products-location>
      </div>
      <ng-template #noProducts>
        <p>No products found.</p>
      </ng-template>
    </section>
  </div>

  <div class="section">
    <h2 style="color: purple;">Your Listings : </h2>
    <section class="results">
      <div *ngIf="otherFilteredProductList && otherFilteredProductList.length > 0; else noOtherProducts" class="purchase-section">
        <app-products-location *ngFor="let product of otherFilteredProductList" [product]="product"></app-products-location>
      </div>
      <ng-template #noOtherProducts>
        <p>No other products found.</p>
      </ng-template>
    </section>
  </div>

  <!-- Added feedbacks section -->
  <div class="section">
    <h2 style="color: purple;">Feedbacks on you : </h2>
    <section class="results">
      <ng-container *ngIf="feedbackList && feedbackList.length > 0; else noFeedbacks" class="feedback-section">
        <div *ngFor="let feedback of feedbackList">
          <div *ngIf="username_h1 === feedback.seller" class="feedback-item">
            <p>Feedback: {{ feedback.feedback }}</p>
            <p>Rating: {{ feedback.rating }}</p>
            <p>Seller: {{ feedback.seller }}</p>
            <p>Username: {{ feedback.username }}</p>
          </div>
        </div>
      </ng-container>
      <ng-template #noFeedbacks>
        <p>No feedbacks found.</p>
      </ng-template>
    </section>
  </div>
</div>
